<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ShowAllProducts</servlet-name>
        <servlet-class>likitomi.jsp.control.back.ShowAllProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllProductType</servlet-name>
        <servlet-class>likitomi.jsp.control.back.ShowAllProductType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>likitomi.jsp.control.back.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductType</servlet-name>
        <servlet-class>likitomi.jsp.control.back.AddProductType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductDetail</servlet-name>
        <servlet-class>likitomi.jsp.control.back.GetProductDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductTypeDetail</servlet-name>
        <servlet-class>likitomi.jsp.control.back.GetProductTypeDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>likitomi.jsp.control.back.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductType</servlet-name>
        <servlet-class>likitomi.jsp.control.back.UpdateProductType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>likitomi.jsp.control.back.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductType</servlet-name>
        <servlet-class>likitomi.jsp.control.back.DeleteProductType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllOrders</servlet-name>
        <servlet-class>likitomi.jsp.control.back.ShowAllOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowOrderDetail</servlet-name>
        <servlet-class>likitomi.jsp.control.back.ShowOrderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>likitomi.jsp.control.member.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Activate</servlet-name>
        <servlet-class>likitomi.jsp.control.member.Activate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>likitomi.jsp.control.member.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>likitomi.jsp.control.member.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>likitomi.jsp.control.member.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassword</servlet-name>
        <servlet-class>likitomi.jsp.control.member.ForgetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RandomPassword</servlet-name>
        <servlet-class>likitomi.jsp.control.member.RandomPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchResult</servlet-name>
        <servlet-class>likitomi.jsp.control.shop.SearchResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProduct</servlet-name>
        <servlet-class>likitomi.jsp.control.shop.ShowProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>likitomi.jsp.control.shop.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCart</servlet-name>
        <servlet-class>likitomi.jsp.control.shop.ShowCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCart</servlet-name>
        <servlet-class>likitomi.jsp.control.shop.UpdateCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shipping</servlet-name>
        <servlet-class>likitomi.jsp.control.shop.Shipping</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProductType</servlet-name>
        <servlet-class>likitomi.jsp.control.shop.ShowProductType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOrder</servlet-name>
        <servlet-class>likitomi.jsp.control.shop.ConfirmOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowAllProducts</servlet-name>
        <url-pattern>/back/product/ShowAllProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/back/product/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductType</servlet-name>
        <url-pattern>/back/product/AddProductType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductDetail</servlet-name>
        <url-pattern>/back/product/GetProductDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductTypeDetail</servlet-name>
        <url-pattern>/back/product/GetProductTypeDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/back/product/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductType</servlet-name>
        <url-pattern>/back/product/UpdateProductType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/back/product/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductType</servlet-name>
        <url-pattern>/back/product/DeleteProductType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllOrders</servlet-name>
        <url-pattern>/back/product/ShowAllOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowOrderDetail</servlet-name>
        <url-pattern>/ShowOrderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/account/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Activate</servlet-name>
        <url-pattern>/account/Activate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/account/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/account/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/account/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassword</servlet-name>
        <url-pattern>/account/ForgetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RandomPassword</servlet-name>
        <url-pattern>/account/RandomPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchResult</servlet-name>
        <url-pattern>/shop/SearchResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProduct</servlet-name>
        <url-pattern>/shop/ShowProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/shop/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCart</servlet-name>
        <url-pattern>/shop/ShowCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCart</servlet-name>
        <url-pattern>/shop/UpdateCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shipping</servlet-name>
        <url-pattern>/shop/Shipping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProductType</servlet-name>
        <url-pattern>/shop/ShowProductType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOrder</servlet-name>
        <url-pattern>/shop/ConfirmOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllProductType</servlet-name>
        <url-pattern>/back/product/ShowAllProductType</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
